.header {
    display: flex;
    justify-content: space-around;
}

.header_theme_grey {
    background-color: #DDDEE3;
}

.header_theme_light {
    background-color: #FAFAFA;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding: 21px 70px;
}

.header__logo {
    display: flex;
    object-fit: contain;
    object-position: center;
}

.header__link {
    transition: transform .3s linear 0s, box-shadow .3s linear 0s;
    border-radius: 50%;
}

.header__link:hover {
    box-shadow: 0.1px 0.1px 3px #3456F3;
    transform: scale(1.1);
}

.header__link:active {
    box-shadow: 0.1px 0.1px 3px #3456F3 inset;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .header__container {
        padding: 21px 30px;
    }
}

@media screen and (max-width: 767px) {

    .header__container {
        padding: 24px 14px;
    }
}

@media screen and (max-width: 480px) {

    .header__link:hover {
        box-shadow: none;
        transform: none;
    }

    .header__link:active {
        box-shadow: none;
    }
}